.bodystyle {font-family:Calibri;} 

.tablestyle {border: 1px solid black; width:60%; margin:auto; text-align:center;}

.leftdiv {display:inline-block; width:80%; float:left;}

.hussam {font-size:30pt;}

.rightdiv {display:inline-block; width:18%; float:right;}

.pic {width:300px; height:300px; border:1px solid black;}

.calendar {width:300px; height: 300px; border: 1px solid black}

a:link{color: red};
a:visited{color: red};
a:hover{color: red};
a:active{color: red};